:root {
  /* COLOR NEUTRAL */
  --clr-neutral100: #ffff;
  --clr-neutral500: #202020;
  --clr-neutral700: #141414;
  --clr-neutral900: #0000;

  /* COLOR PRIMARY */
  --clr-primary100: #f4ce14;
  --clr-primary200: #ffc700;
  --clr-primary300: #0e46a3;
  --clr-primary400: #cb0000;
  --clr-primary500: #f95841;
  --clr-primary600: #f7418f;
}

.px-d {
  padding-inline: 5rem;
}
.pt-8 {
  padding-top: 6rem;
}

@media (max-width: 36em) {
  .px-d {
    padding-inline: 1.5rem;
  }
}

/* =============== RESETTTT =============== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* FONT FACEEEEE */
@font-face {
  font-family: helveticaNow;
  src: url(font/helveticanowtext-black-demo.ttf);
  font-weight: 900;
}

@font-face {
  font-family: helveticaNow;
  src: url(font/helveticanowtext-bold-demo.ttf);
  font-weight: bold;
}

@font-face {
  font-family: highrise regular;
  src: url(font/HighriseDemo\ 400.otf);
}

@font-face {
  font-family: highriseBold;
  src: url(font/HighriseDemoBold\ 700.otf);
}

@font-face {
  font-family: highriseCon;
  src: url(font/HighriseDemoCondensed\ 400.otf);
}

/* ================== HEADERRRRRR ==================*/

header {
  background-image: url(asset/BEYOND___-removebg3.png);
  background-size: cover;
  background-position: center 100%;

  .nav-wrap {
    display: flex;
    justify-content: center;
  }

  nav {
    z-index: 5;
    display: flex;
    margin-inline: auto;
    top: 2.5rem;
    border-radius: 12.5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.14);
    backdrop-filter: blur(20px);

    > * {
      font-family: "Inter", sans-serif;
      font-weight: 600;
      font-size: 1rem;
      color: var(--clr-neutral100);
      text-decoration: none;
      padding: 0.8em 1.2em;
      border-radius: 5rem;
      transition: all 300ms;

      &:focus,
      &:hover {
        color: #000;
        background-color: var(--clr-neutral100);
      }
    }
  }

  @media (max-width: 36em) {
    nav {
      > * {
        font-size: 0.8rem;
      }
    }
  }
}

.wrapper {
  position: relative;
}

.wrapper img {
  position: absolute;
  z-index: 1;
}

.wrapper img:first-of-type {
  max-width: 600px;
  inset: 5% 2%;
}
.wrapper img:last-of-type {
  max-width: 450px;
  inset: 7% 66%;
}

@media (max-width: 78.125em) {
  .wrapper img:first-of-type {
    max-width: 420px;
    inset: 10%;
  }
  .wrapper img:last-of-type {
    max-width: 320px;
    inset: 12% 68%;
  }
}

@media (max-width: 64em) {
  .wrapper img:first-of-type {
    max-width: 380px;
    inset: 8% 6%;
  }
  .wrapper img:last-of-type {
    max-width: 274px;
    inset: 12% 65%;
  }
}

@media (max-width: 48em) {
  .wrapper img {
    display: none;
  }
}

.wrap p {
  margin-top: 7rem;
  font-family: highriseBold;
  font-size: 10rem;
  line-height: 0.9;
  text-align: center;
  width: min(11.2ch, 100%);
  color: var(--clr-neutral100);
  position: relative;
}

.wrap p:first-of-type::before {
  content: "CELEBRATING";
  font-size: 10rem;
  position: absolute;
  color: transparent;
  -webkit-text-stroke: 1px white;
  text-stroke: 1px white;
  text-shadow: none;
  z-index: 3;
}

.wrap p:last-of-type::before {
  content: "HARMONY FEST";
  font-size: 10rem;
  position: absolute;
  color: transparent;
  -webkit-text-stroke: 1px white;
  text-stroke: 1px white;
  text-shadow: none;
  z-index: 3;
}

@media (max-width: 64em) {
  .wrap p,
  .wrap p:first-of-type::before,
  .wrap p:last-of-type::before {
    font-size: 8rem;
  }

  .wrap button {
    margin-right: 0.7rem;
  }
}

@media (max-width: 48em) {
  .wrap p:first-of-type::before,
  .wrap p:last-of-type::before {
    display: none;
  }
}

@media (max-width: 36em) {
  .wrap p {
    font-size: 4.5rem;
  }

  .wrap button {
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-right: 0.4rem;
  }
}

/* ================== MAINNNNNN ==================*/
/* ====== ABOUT ====== */
.about {
  background-color: var(--clr-neutral700);

  #head__about {
    font-family: highriseBold;
    font-size: 6rem;
    background: rgb(238, 238, 238);
    background: linear-gradient(
      180deg,
      rgba(238, 238, 238, 1) 6%,
      rgba(244, 206, 20, 1) 97%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    font-size: 1.5rem;
    color: black;
  }

  p,
  button {
    font-family: "Montserrat", sans-serif;
  }

  p,
  button {
    font-weight: 700;
  }

  @media (max-width: 78.125em) {
    p {
      font-size: 1.3rem;
    }
  }

  @media (max-width: 67.5em) {
    p {
      font-size: 1.1rem;
    }
  }

  @media (max-width: 64em) {
    p {
      font-size: 1rem;
    }
  }

  @media (max-width: 48em) {
    #head__about {
      font-size: 4rem;
    }
  }

  @media (max-width: 36em) {
    #head__about {
      font-size: 3rem;
    }
    p {
      font-size: 0.85rem;
    }
  }
}

.bx__text {
  flex: 7;
}

.bx {
  background-image: url(asset/Overlay\ film_\ Overlay\ texture.png);
  background-size: cover;
  background-position: center;
  border-radius: 4.375rem;
  border: 4px solid var(--clr-primary100);
  z-index: 1;
}

.bx::after {
  content: "";
  border-radius: 4rem;
  background-color: var(--clr-neutral100);
  position: absolute;
  mix-blend-mode: difference;
  inset: 0;
  z-index: -1;
}

.bx__text {
  position: relative;
}

.bx__text::before {
  content: url(asset/travis-float.png);
  position: absolute;
  top: -22%;
}

.bx__text .btn-about {
  color: #3f3f3f;
  position: relative;
  display: inline-flex;
  font-size: 1.2rem;
  background-color: #ffffffa5;
  border: none;
  outline: 3px solid #3f3f3f;
  overflow: hidden;
  transition: color 0.5s;
}

.bx__text .btn-about span {
  position: relative;
  z-index: 1;
}

.bx__text .btn-about::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: var(--clr-primary200);
  transition: width 0.5s, height 0.5s;
}

.bx__text .btn-about:hover,
.bx__text .btn-about:focus {
  color: var(--clr-neutral100);
  outline: 3px solid #3f3f3f;
}

.bx__text .btn-about:hover::before,
.bx__text .btn-about:focus::before {
  width: 300px;
  height: 300px;
}

.bx .mobile-img {
  display: none;
}

.bx__img {
  flex: 3;
  min-height: 32rem;
  border-radius: 3.3125rem;
  background-color: rgb(255, 222, 55);
}

.bx__img img {
  right: 0.5rem;
  max-width: 27rem;
}

@media (max-width: 78.125em) {
  .bx__text {
    padding-top: 0;
    flex: 5;
  }

  .bx__text::before {
    content: none;
  }

  .bx__img {
    min-height: 23rem;
  }

  .bx__img img {
    right: 1.8rem;
    max-width: 22rem;
  }
}

@media (max-width: 67.5em) {
  .bx__text {
    flex: 4;
  }

  .bx__img {
    min-height: 22rem;
  }

  .bx__img img {
    right: 2.2rem;
    /* max-width: 22rem; */
  }
}

@media (max-width: 64em) {
  .bx__text {
    flex: 4;
  }

  .bx__img {
    min-height: 25rem;
  }

  .bx__img img {
    right: 1.5rem;
  }
}

@media (max-width: 62.187em) {
  .bx .mobile-img {
    display: block;
    position: absolute;
    bottom: 0;
    right: 20%;
    width: 11rem;
  }

  .bx__img img,
  .bx__img {
    display: none;
  }
}

@media (max-width: 48em) {
  .bx .mobile-img {
    right: 10%;
    width: 10rem;
  }
}

@media (max-width: 40.6em) {
  .bx .mobile-img {
    display: none;
  }
}

@media (max-width: 36em) {
  .bx .mobile-img {
    display: none;
  }
}

/* ====== FEATURED ====== */
.featured {
  background-color: var(--clr-neutral500);

  > * {
    font-family: highriseBold;
    text-align: center;
    color: var(--clr-neutral100);
  }

  h5 {
    font-size: 3rem;
    word-spacing: 5px;
    letter-spacing: 1px;
  }

  @media (max-width: 48em) {
    > * {
      font-family: highrise regular;
      color: black;
    }
  }

  h1 {
    font-family: highriseBold;
    font-size: 6rem;
    background: rgb(238, 238, 238);
    background: linear-gradient(
      180deg,
      #f40000 -4.98%,
      #f572b2 53.57%,
      #fff 104.2%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1;
    margin-bottom: 2rem;
  }

  @media (max-width: 64em) {
    h1 {
      font-size: 4.5rem;
    }
  }

  @media (max-width: 36em) {
    h1 {
      font-size: 3.5rem;
      margin-bottom: 1rem;
    }
  }
}

.carousel-ct {
  display: flex;
  gap: 2rem;
}

.c-container {
  display: flex;
  align-items: end;
}

.c-container:nth-child(1) {
  background-color: var(--clr-primary300);
}
.c-container:nth-child(2) {
  background-color: var(--clr-primary200);
}
.c-container:nth-child(3) {
  background-color: var(--clr-primary400);
}
.c-container:nth-child(4) {
  background-color: var(--clr-primary600);
}
.c-container:nth-child(5) {
  background-color: rgb(95, 95, 95);
}

.c-item h3 {
  color: var(--clr-neutral100);
  letter-spacing: 3px;
  font-size: 3rem;
}

@media (max-width: 78.125em) {
  .c-item h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 64em) {
  .c-item h3 {
    font-size: 1rem;
  }
}

.c-image {
  object-fit: cover;
  object-position: center;
  aspect-ratio: 0.5;
}

.mobile-carousel-ct {
  display: none;
}

@media (max-width: 48em) {
  .c-container {
    display: none;
  }

  /* CAROUSELLLLLLLL MOBILEEEE */
  .mobile-carousel-ct {
    display: block;

    .carousel-inner {
      padding: 1em;
    }
    .card {
      margin: 0 0.5em;
      border: none;
      background-color: #cbcbcb;
    }

    .carousel-control-prev,
    .carousel-control-next {
      background-color: #e1e1e1;
      width: 6vh;
      height: 6vh;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
    }

    .card .img-wrapper {
      max-width: 100%;
      display: flex;
      justify-content: center;
      align-items: end;
    }
    .card img {
      max-height: 100%;
    }

    @media (max-width: 768px) {
      .card .img-wrapper {
        height: 30rem;
      }
    }

    @media (max-width: 36em) {
      .card .img-wrapper {
        height: 20rem;
      }
    }
  }
}

/* ================== FOOTERRRRRR ================== */
footer {
  > *:not(.nav-footer, marquee) {
    font-family: helveticaNow;
    color: black;
  }

  div:first-child p {
    font-size: 6.25rem;
    font-weight: 900;
  }
  div:last-child p {
    font-size: 3.5rem;
    font-weight: bold;
    width: min(25ch, 100%);
    margin-top: 3rem;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: black;
  }

  .x-img,
  .tt-img,
  .ig-img {
    display: inline-block;
  }

  .nav-footer a {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #fff;
    opacity: 0.5;
    transition: all 0.4s;
  }

  .nav-footer {
    padding: 0.5rem 0.8rem;
  }

  .nav-footer a:hover {
    opacity: 1;
  }

  @media (max-width: 64em) {
    div:first-child p {
      font-size: 4rem;
    }
    div:last-child p {
      font-size: 2.5rem;
    }

    .x-img,
    .tt-img,
    .ig-img {
      width: 2.2rem;
    }
  }

  @media (max-width: 48em) {
    div:first-child p {
      font-size: 2.5rem;
    }
    div:last-child p {
      font-size: 1.8rem;
      margin-top: 1.5rem;
    }

    .x-img,
    .tt-img,
    .ig-img {
      width: 1.5rem;
    }
  }

  @media (max-width: 36em) {
    div:first-child p {
      font-size: 2rem;
    }
    div:last-child p {
      font-size: 1.2rem;
    }

    .x-img,
    .tt-img,
    .ig-img {
      width: 1.5rem;
    }

    .nav-footer {
      font-size: 0.8rem;
      padding: 0.5em 1em;
    }
  }
}

footer .faq-wrap {
  background-color: var(--clr-primary500);
  border-radius: 3rem;
  padding: 3rem;
}

@media (max-width: 36em) {
  footer .faq-wrap {
    padding: 2rem;
    border-radius: 1.5rem;
  }
}

.nav-footer {
  background: rgba(255, 255, 255, 0.14);
  width: fit-content;
  border-radius: 12.5rem;
}

.marquee {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  height: 40px;
  font-size: 0.9rem;
  color: rgb(124, 124, 124);
  overflow-x: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 30s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
